---
import Layout from '../layouts/Layout.astro';
import Logo from '../assets/Logo.webp'
---

<Layout>
	<div class="w-full h-[100vh] flex items-center justify-center">
		<img src={Logo.src} class="pointer-events-none select-none animate-pulse">
	</div>
</Layout>
