---
import Icon from '../assets/Icon.webp'
---

<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={Icon.src} />
		<meta name="generator" content={Astro.generator} />
		<title>Grave</title>
	</head>
	<body class="bg-gray-800">
		<slot />
	</body>
</html>
